
<div id="<%= dom_id cliente %>">
  <p>
    <strong>Rut cliente:</strong>
    <%= cliente.rut_cliente %>
  </p>

  <p>
    <strong>Nombre cliente:</strong>
    <%= cliente.nombre_cliente %>
  </p>

</div>
