<h1>Editing remuneracion</h1>

<%= render "form", remuneracion: @remuneracion %>

<br>

<div>
  <%= link_to "Show this remuneracion", @remuneracion %> |
  <%= link_to "Back to remuneracions", remuneracions_path %>
</div>
