<div id="<%= dom_id proveedor %>">
  <p>
    <strong>Rut proveedor:</strong>
    <%= proveedor.rut_proveedor %>
  </p>

  <p>
    <strong>Nombre proveedor:</strong>
    <%= proveedor.nombre_proveedor %>
  </p>

</div>
